# Always ignore itself
.gcloudignore

# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Node/npm stuff (if any)
node_modules/

# OS-specific
.DS_Store
Thumbs.db

# Static and media collected files
staticfiles/
media/

# Build / cache
*.log
*.sqlite3
*.db
